<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
<div>
  <ion-button (click)="PickFile()">Pick File</ion-button>
</div>

</ion-content>-->

<ion-content *ngIf="user$ | async as user">
  <div margin class="is-profile-picture">
    <img *ngIf="!user.picture && !url" src="assets/imgs/profile.png" />
    <img *ngIf="url" [src]="url" alt="" />
    <img *ngIf="user.picture && !url" [src]="user.picture" alt="" />
    <div>
      <ion-fab slot="fixed">
        <ion-fab-button fill="outline" size="small">
          <label for="input">
            <ion-icon style="font-size: 2em;" name="camera"></ion-icon>
          </label>
          <input
            id="input"
            (change)="uploadImage($event)"
            type="file"
            class="image-upload hideInput"
            accept="image/*"
          />
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
  <div text-center margin-bottom>
    <h5 no-margin>{{ user.name }}</h5>
  </div>
  <div text-center margin-bottom>
    <h5 no-margin>{{ user.email }}</h5>
  </div>

  <form [formGroup]="profileForm" (submit)="onSubmit()">
    <ion-list padding>
      <ion-item>
        <ion-label color="primary" position="stacked">Phone</ion-label>
        <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Address</ion-label>
        <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">City</ion-label>
        <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">State</ion-label>
        <ion-input type="text" placeholder="State" formControlName="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Register</ion-label>
        <ion-input type="text" placeholder="Register" formControlName="reg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="New Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Upload Documents</ion-label>
        <ion-input type="text" placeholder="Document Name" [(ngModel)]="documentName"  [ngModelOptions]="{standalone: true}" ></ion-input>
        <ion-button slot="end" size="medium">
          <label for="inputDocument">
            <ion-icon style="font-size: 2em;" color="white" name="document"></ion-icon>
          </label>
          <input
            id="inputDocument"
            (change)="uploadFile($event, null)"
            type="file"
            class="image-upload hideInput"
            accept="/*"
          />
      </ion-button>
      </ion-item>
      <ion-item>
        <ion-text class="ion-text-center">
            Polizza Assicurativa Professionale
        </ion-text>
        <ion-button slot="end" size="medium">
          <label for="inputFile">
            <ion-icon style="font-size: 2em;" color="white" name="document"></ion-icon>
          </label>
          <input
            id="inputFile"
            (change)="uploadFile($event, 'polizza_assicurativa_professionale')"
            type="file"
            class="image-upload hideInput"
            accept="/*"
          />
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="profileForm.invalid">
      Save
    </ion-button>
  </form>
</ion-content>
