<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Balance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding class="select-fixed">
    <ion-item>
      <ion-label>Month</ion-label>
      <ion-select [(ngModel)]="selectedDate" (ionChange)="onChange()" [selectedText]="selectedDate | date: 'MMMM'" interface="popover">
        <ion-select-option *ngFor="let dt of dateFilter" value="{{dt}}" >{{ dt | date: 'MMMM' }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-slides style="height: 89%;" pager="true" class="is-slider-page">
    <ion-slide justify-content-start>
      <ion-card style="width: 92.5%;">
        <ion-grid style="max-height: 107px; min-width: 384px;" class="is-grid is-grid-tiles">
          <ion-row>
            <ion-col size="5">
              <h3>
                <span>Predicted Amount</span>
                €{{ totalReceived + totalPredicted | number: '1.2-2' }}
              </h3>
            </ion-col>
            <ion-col size="7" no-padding>
              <ion-row>
                <h3>
                  Realized<span float-right class="is-color-success">
                    €{{ totalReceived | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
              <ion-row>
                <h3>
                  Scheduled<span float-right class="is-color-danger"
                    >€{{ totalPredicted | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list style="overflow-y:auto; width: 92.5%;">
        <ion-item
          *ngFor="let schedule schedules$"
          style="min-width: 384px;"
          class="is-item-thumb-bordered"
        >
          <ion-thumbnail *ngIf="schedule.receivedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="done-all" color="success" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="schedule.predictedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="calendar" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-label align-self-stretch no-margin padding-top>
            <h2>{{ schedule.hospitalName }}</h2>
            <p *ngIf="schedule.receivedAmount">
              {{ schedule.checkIn | date: 'dd/MM/yyyy HH:mm' }} -
              {{ schedule.checkOut | date: 'HH:mm' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
              {{ schedule.startTime | date: 'dd/MM/yyyy HH:mm' }} - {{ schedule.endTime | date: 'HH:mm' }}
            </p>
          </ion-label>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 class="is-color-success" *ngIf="schedule.receivedAmount" no-margin>
              €{{ schedule.receivedAmount | number: '1.2-2' }}
            </h3>
          </div>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 *ngIf="schedule.predictedAmount" no-margin>
              €{{ schedule.predictedAmount | number: '1.2-2' }}
            </h3>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide justify-content-start *ngFor="let contract of contracts">
      <ion-card style="width: 92.5%; min-height: 177px;">
        <ion-card-content no-padding> </ion-card-content>
        <ion-row padding text-start>
          <ion-col size="8">
            <ion-note>
              {{ contract.name }}
            </ion-note>
            <p no-margin>{{ contract.specialty }}</p>
          </ion-col>
          <ion-col size="4">
            <ion-note>
              Payment/hour
            </ion-note>
            <p no-margin>€{{ contract.price }}</p>
          </ion-col>
        </ion-row>

        <ion-grid style="max-height: 107px; min-width: 384px;" class="is-grid is-grid-tiles">
          <ion-row>
            <ion-col size="5">
              <h3>
                <span>Predicted Amount</span>
                €{{ contract.receivedValue + contract.predictedValue | number: '1.2-2' }}
              </h3>
            </ion-col>
            <ion-col size="7" no-padding>
              <ion-row>
                <h3>
                  Realized<span float-right class="is-color-success">
                    €{{ contract.receivedValue | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
              <ion-row>
                <h3>
                  Scheduled<span float-right class="is-color-danger"
                    >€{{ contract.predictedValue | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list style="overflow-y:auto; width: 92.5%;">
        <ion-item
          *ngFor="let schedule of contract.schedules"
          style="min-width: 384px;"
          class="is-item-thumb-bordered"
        >
          <ion-thumbnail *ngIf="schedule.receivedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="done-all" color="success" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="schedule.predictedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="calendar" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-label align-self-stretch no-margin padding-top>
            <h2>{{ schedule.hospitalName }}</h2>
            <p *ngIf="schedule.receivedAmount">
              {{ schedule.checkIn | date: 'dd/MM/yyyy HH:mm' }} -
              {{ schedule.checkOut | date: 'HH:mm' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
              {{ schedule.startTime | date: 'dd/MM/yyyy HH:mm' }} - {{ schedule.endTime | date: 'HH:mm' }}
            </p>
          </ion-label>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 class="is-color-success" *ngIf="schedule.receivedAmount" no-margin>
              €{{ schedule.receivedAmount | number: '1.2-2' }}
            </h3>
          </div>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 *ngIf="schedule.predictedAmount" no-margin>
              €{{ schedule.predictedAmount | number: '1.2-2' }}
            </h3>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
