<ion-header no-border class="shadow-header">
  <ion-toolbar color="primary">
    <ion-title>Rapporto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-bottom: 0px;" padding class="select-fixed">
    <ion-item class="ion-text-capitalize">
      <ion-label>Mese</ion-label>
      <ion-select [(ngModel)]="selectedDate" (ionChange)="onChangeFilter()" [selectedText]="selectedDate | date: 'MMMM'" interface="popover">
        <ion-select-option *ngFor="let dt of dateFilter" value="{{dt}}" class="ion-text-capitalize">{{ dt | date: 'MMMM' }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-slides style="height: 92%;" pager="true" class="is-slider-page">
    <ion-slide justify-content-start>
      <ion-card style="width: 92.5%; margin-top: 0 !important;">
        <ion-grid style="max-height: 107px;" class="is-grid is-grid-tiles">
          <ion-row>
            <ion-col size="5">
              <h3>
                <span>Importo Previsto</span>
                €{{ totalReceived + totalPredicted | number: '1.2-2' }}
              </h3>
            </ion-col>
            <ion-col size="7" no-padding>
              <ion-row>
                <h3>
                  Realizzato<span float-right class="is-color-success">
                    €{{ totalReceived | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
              <ion-row>
                <h3>
                  Programmato<span float-right class="is-color-danger"
                    >€{{ totalPredicted | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list style="overflow-y:auto; width: 92.5%;">
        <ion-item
          *ngFor="let schedule schedules$"
          class="is-item-thumb-bordered"
        >
          <ion-thumbnail *ngIf="schedule.receivedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="done-all" color="success" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="schedule.predictedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="calendar" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-label align-self-stretch no-margin padding-top>
            <h2>{{ schedule.hospitalName }}</h2>
            <p *ngIf="schedule.receivedAmount">
              {{ schedule.adjustedCheckinStatus == 'approved' && schedule.adjustedCheckin || schedule.checkIn | date: 'dd/MM/yyyy HH:mm' }} -
              {{ schedule.adjustedCheckoutStatus == 'approved' && schedule.adjustedCheckout || schedule.checkOut | date: 'HH:mm' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
              {{ schedule.startTime | date: 'dd/MM/yyyy' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
                {{ schedule.startTime | date: 'HH:mm' }} - {{ schedule.endTime | date: 'HH:mm' }}
            </p>
          </ion-label>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 class="is-color-success" *ngIf="schedule.receivedAmount" no-margin>
              €{{ schedule.receivedAmount | number: '1.2-2' }}
            </h3>
          </div>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 *ngIf="schedule.predictedAmount" no-margin>
              €{{ schedule.predictedAmount | number: '1.2-2' }}
            </h3>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide justify-content-start *ngFor="let contract of contracts">
      <ion-card style="width: 92.5%; margin-top: 0 !important;">
        <ion-card-content no-padding> </ion-card-content>
        <ion-row padding text-start>
          <ion-col size="7">
            <ion-note>
              {{ contract.name }}
            </ion-note>
            <p no-margin>{{ contract.specialty }}</p>
          </ion-col>
          <ion-col size="5">
            <ion-note>
              Prezzo/ora
            </ion-note>
            <p no-margin>€{{ contract.price }}</p>
          </ion-col>
        </ion-row>

        <ion-grid style="max-height: 107px;" class="is-grid is-grid-tiles">
          <ion-row>
            <ion-col size="5">
              <h3>
                <span>Importo Previsto</span>
                €{{ contract.receivedValue + contract.predictedValue | number: '1.2-2' }}
              </h3>
            </ion-col>
            <ion-col size="7" no-padding>
              <ion-row>
                <h3>
                  Realizzato<span float-right class="is-color-success">
                    €{{ contract.receivedValue | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
              <ion-row>
                <h3>
                  Programmato<span float-right class="is-color-danger"
                    >€{{ contract.predictedValue | number: '1.2-2' }}</span
                  >
                </h3>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list style="overflow-y:auto; width: 92.5%;">
        <ion-item
          *ngFor="let schedule of contract.schedules"
          class="is-item-thumb-bordered"
        >
          <ion-thumbnail *ngIf="schedule.receivedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="done-all" color="success" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="schedule.predictedAmount" slot="start" class="is-icon-thumbnail">
            <ion-icon name="calendar" class="is-icon-no-color"></ion-icon>
          </ion-thumbnail>
          <ion-label align-self-stretch no-margin padding-top>
            <h2>{{ schedule.hospitalName }}</h2>
            <p *ngIf="schedule.receivedAmount">
              {{ schedule.adjustedCheckinStatus == 'approved' && schedule.adjustedCheckin || schedule.checkIn | date: 'dd/MM/yyyy HH:mm' }} -
              {{ schedule.adjustedCheckoutStatus == 'approved' && schedule.adjustedCheckout || schedule.checkOut | date: 'HH:mm' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
              {{ schedule.startTime | date: 'dd/MM/yyyy' }}
            </p>
            <p *ngIf="schedule.predictedAmount">
                {{ schedule.startTime | date: 'HH:mm' }} - {{ schedule.endTime | date: 'HH:mm' }}
            </p>
          </ion-label>
          <div slot="end" align-self-start no-margin class="pt-19">
            <h3 class="is-color-success" *ngIf="schedule.receivedAmount" no-margin>
              €{{ schedule.receivedAmount | number: '1.2-2' }}
            </h3>
          </div>
          <div slot="end" align-self-start no-margin padding-top>
            <h3 *ngIf="schedule.predictedAmount" no-margin>
              €{{ schedule.predictedAmount | number: '1.2-2' }}
            </h3>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
