<ion-tabs>
  <ion-tab-bar slot="bottom" class='shadow-tab'>
    <ion-tab-button tab="time-table">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Orari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="list"></ion-icon>
      <ion-label>Offerte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="balance">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Rapporto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
