<ion-header>
  <ion-toolbar text-center>
    <ion-title>Schedule Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" value="{{ effectiveStartTime }}"
      [(ngModel)]="effectiveStartTime"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>End Time</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" value="{{ effectiveEndTime }}"
      [(ngModel)]="effectiveEndTime"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-textarea [(ngModel)]="schedule.notes" placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col text-center></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right>
        <ion-button color="danger" (click)="closeModal()">Cancel</ion-button>
      </ion-col>
      <ion-col text-left>
        <ion-button (click)="confirmCheckin()">Confirm</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>