<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Offers</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!schedules$ || schedules$.length < 1">
  <div class="is-empty-state-content">
    <img src="assets/imgs/empty-tasks-1.png"/>
    <h3>Nothing Here...</h3>
    <p>You doesn't have offers yet</p>
  </div>
</ion-content>

<ion-content *ngIf="schedules && schedules$.length > 0">
  <ion-list>
    <ion-item (click)="changeApply(item)" *ngFor="let item of schedules$">
      <ion-thumbnail slot="start">
        <ion-text color="primary" class="ion-text-center">
          <div>{{ item.startTime | date: 'MMM' }}</div>
          <div>{{ item.startTime | date: 'dd' }}</div>
          <div>{{ item.startTime | date: 'EEE' }}</div>
        </ion-text>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.hospitalName }}</h2>
        <h3>{{ item.specialty }}</h3>
        <p>{{ item.startTime | date: 'HH:mm' }} - {{ item.endTime | date: 'HH:mm' }}</p>
      </ion-label>
      <ion-icon name="done-all" slot="end" color="success" size="large" *ngIf="item.userId && !item.dismissRequested"></ion-icon>
      <ion-icon name="remove-circle" slot="end" color="danger" size="large" *ngIf="item.dismissRequested"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>